# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/

# Reflex build artifacts
.web/
assets/

# Temporary media buffers & artifacts
artifacts/
temp_data/
*.tmp
*.mp4
*.m4a
*.opus
*.mp3

# Environment secrets
.env
.env.local

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
test_audio/fbfc43c5-1366-464c-9149-942539841d37_audio.part
test_audio/fbfc43c5-1366-464c-9149-942539841d37_audio.ytdl
meta.json
